<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itibo.mapper.TrackersMapper">
    


        <select id="getTrackers"
                resultType="com.itibo.database.TrackerInfo"
                >SELECT * FROM Trackers</select>
</mapper>